<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan List</title>
</head>
<body>
    <table>
        {%for Loan in  loans%}
        <th>
            <tr>
                <td>{{loan.loan_id}}</td>
                <td>{{loan.date}}</td>
                <td>{{loan.interest_rate}}</td>
                <td>{{loan.guaranter}}</td>
                {% comment %} <td>{{account.account_balance}}</td> {% endcomment %}
            </tr>
            {%endfor%}
        </th>
    </table>
   
</body>
</html>

    