<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reward List</title>
</head>
<body>
    <table>
        {%for reward in  rewards%}
        <th>
            <tr>
                <td>{{reward.recipient}}</td>
                <td>{{reward.points}}</td>
                <td>{{reward.bonus}}</td>

                {% comment %} <td>{{thirdparty.date_of_issue}}</td>
                <td>{{thirdparty.wallet}}</td> {% endcomment %}
            </tr>
            {%endfor%}
        </th>
    </table>
   
</body>
</html>

    